@media (max-width:1000px) {
    .shop{
        grid-template-columns: repeat(3,200px);
    }
}
@media (max-width:760px) {
    .shop{
        grid-template-columns: repeat(2,200px);
    }
}
@media (max-width:480px) {
    .shop{
        grid-template-columns: repeat(1,200px);
    }
}